<form action="/create_favorite_from_dish" method="post">

  <input type="hidden" name="dish_id" value="<%= @dish.id %>">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :neighborhood_id, @favorite.venue_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
