<form action="/create_venue_from_neighborhood" method="post">

  <input type="hidden" name="neighborhood_id" value="<%= @neighborhood.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create venue
  </button>
</form>
