<!-- Form venue start -->
<form action="/create_venue_from_neighborhood" method="post">
<!-- Form venue end -->

  <!-- Label and input for neighborhood_id start -->
  <!-- Input for neighborhood_id start -->
  <input type="hidden" name="neighborhood_id" value="<%= @neighborhood.id %>">
  <!-- Input for neighborhood_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create venue
  </button>
</form>
